<h1>App Page</h1>
<hr>
<div>
  <a [routerLink]="appAdvancedRouter.routes.admin.path">Admin Page</a>
  <a [routerLink]="appAdvancedRouter.routes.admin.children.create.path">Admin Create Page</a>
  <a [routerLink]="appAdvancedRouter.routes.admin.children.edit('22').path">Admin Edit (with AdminId 22) Page</a>
  <a [routerLink]="lazyLoadedRoute.routes.products.path">Products</a>
  <a [routerLink]="nestedLazyLoadedRoute.routes.attributes.path">Attributes</a>
  <advanced-router-link [options]="{ to: '/admin/edit/:adminId', params: { adminId: 1 } }">Admin Page</advanced-router-link>
  <advanced-router-link-2 to="/admin/edit/:adminId" [params]="{ adminId: 1 }" />
</div>
<router-outlet></router-outlet>
